/* Fonts  */
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMonoNL-Regular.ttf") format("truetype");
  font-weight: normal;
}
/*Variables*/
:root {
  --font-family: "JetBrains Mono", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --mobile-font-size: 14px;
  --mobile-font-size-h1: 30px;
  --mobile-font-size-h2: 25px;
  --mobile-font-size-h3: 20px;
  --tablet-font-size: 17px;
  --tablet-font-size-h1: 33px;
  --tablet-font-size-h2: 28px;
  --tablet-font-size-h3: 23px;
  --desktop-font-size: 20px;
  --desktop-font-size-h1: 36px;
  --desktop-font-size-h2: 31px;
  --desktop-font-size-h3: 26px;
  --bg-color: rgb(8, 0, 8);
  --primary-color: rgb(222, 71, 222);
  --secondary-color: rgb(125, 51, 214);
  --primary-shadow: rgb(200, 198, 178);
  --secondary-shadow: rgb(166, 147, 78);
  --bottom-margin: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
  scroll-snap-type: both mandatory;
  background-color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

/* Nav */
ul {
  list-style-type: none;
}

a {
  font-size: var(--mobile-font-size);
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  background-color: black;
  margin-bottom: 1rem;
}

nav h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: var(--mobile-font-size-h1);
  font-weight: var(--bolder-font);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  font-size: calc(var(--mobile-font-size) + 3px);
}

nav a:active {
  color: var(--primary-shadow);
  transition: 0s;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 95%;
  gap: 1rem;
  padding-top: 1rem;
}

nav ul li {
  font-weight: var(--bold-font);
  font-size: var(--mobile-font-size);
  line-break: strict;
}

/* Hero */
.hero {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.hero img {
  border-radius: 2rem;
  height: 10rem;
  width: 10rem;
  margin-top: 3rem;
  transition: var(--transition);
}

.hero img:hover {
  width: 11rem;
  height: 11rem;
  transition: var(--transition);
}

.bio h2 {
  margin-bottom: var(--bottom-margin);
  color: var(--primary-color);
  text-align: center;
  font-size: var(--mobile-font-size-h2);
  font-weight: var(--bold-font);
}

.bio ul {
  list-style-type: disc;
  color: var(--primary-color);
  text-align: left;
  background-color: var(--primary-shadow);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  line-height: var(--line-height);
  font-weight: var(--bolder-font);
  font-size: var(--mobile-font-size);
}

.bio a {
  color: var(--secondary-shadow);
  font-weight: var(--bold-font);
  font-size: var(--mobile-font-size);
}

.bio a:hover {
  transition: var(--transition);
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.CV-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.CV-btn {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-shadow);
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
  font-family: "JetBrains Mono", sans-serif;
  transition: var(--transition);
  border-radius: 10px;
}

/* Top skills and icons*/
.skills {
  text-align: center;
  padding: 8rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--bottom-margin);
  scroll-snap-align: start;
}

.skills h2 {
  font-size: var(--mobile-font-size-h2);
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.skills h3 {
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.skill-header {
  margin-bottom: var(--bottom-margin);
}

.skill-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.skill-container h3 {
  justify-content: flex-start;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-wrapper img {
  padding: 0.3rem;
  margin: 0 0.3rem 0.3rem;
}

.icon {
  width: 7rem;
  height: 7rem;
  transition: var(--transition);
}

.icon:hover {
  width: 7.2rem;
  height: 7.2rem;
  transition: var(--transition);
}

.icon-card {
  background-color: var(--primary-shadow);
  border-radius: 15px;
  box-shadow: 0 0 10px var(--secondary-shadow);
}

/* Scroll up arrow */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3.5rem;
  height: 3.5rem;
}

/* Projects */
.projects {
  padding: 0 1rem;
  margin-bottom: var(--bottom-margin);
  scroll-snap-align: start;
}

.project-pic {
  width: 60%;
  align-items: center;
  margin-bottom: var(--bottom-margin);
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projects-title {
  text-align: center;
  margin-bottom: var(--bottom-margin);
  font-weight: var(--bold-font);
  font-size: var(--mobile-font-size-h2);
}

.projects h2 {
  color: var(--primary-color);
  font-weight: var(--bold-font);
  font-size: var(--mobile-font-size-h2);
}

.projects h3 {
  text-align: center;
  color: var(--primary-color);
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
}

.project-container {
  text-align: center;
  width: 90%;
  padding: 1rem;
}

.project-container p {
  padding: 1rem;
  text-align: left;
  color: black;
  font-weight: var(--normal-font);
  font-size: var(--mobile-font-size);
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  line-height: var(--line-height);
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: var(--primary-shadow);
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 1rem;
}

/* Contact */
.contact {
  margin-top: 10rem;
  scroll-snap-align: start;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  color: var(--primary-color);
  font-size: var(--mobile-font-size-h2);
  font-weight: var(--bold-font);
}

.contact-form-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
}

.contact-form-container label {
  line-height: 2.7rem;
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 3rem;
  font-weight: var(--normal-font);
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background-color: var(--primary-shadow);
  font-family: "JetBrains Mono", sans-serif;
}

.input-field::placeholder {
  color: black;
  font-family: "JetBrains Mono", sans-serif;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--primary-shadow);
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
  font-family: "JetBrains Mono", sans-serif;
  transition: var(--transition);
  border-radius: 10px;
}

.submit-btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Social icons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 3.5rem;
  height: 3.5rem;
}

/* Footer */
footer {
  background-color: black;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  scroll-snap-align: end;
}

footer p {
  font-size: 11px;
  font-weight: var(--normal-font);
  color: var(--primary-color);
}

footer a {
  font-size: 11px;
  color: var(--primary-shadow);
  transition: var(--transition);
}

footer a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

/* MEDIA QUERIES AND BREAKPOINTS */
@media screen and (min-width: 800px) {
  a {
    font-size: var(--tablet-font-size);
  }
  nav h1 {
    font-size: var(--tablet-font-size-h1);
  }
  nav a {
    font-size: var(--tablet-font-size);
  }
  nav a:hover {
    font-size: calc(var(--tablet-font-size) + 3px);
  }
  nav ul li {
    font-size: var(--tablet-font-size);
  }
  .hero img {
    height: 15rem;
    width: 15rem;
  }
  .hero img:hover {
    width: 16rem;
    height: 16rem;
  }
  .hero h2 {
    font-size: var(--tablet-font-size-h2);
  }
  .hero {
    padding: 2rem 4rem;
    flex-direction: row;
  }
  .bio {
    padding: 0 5rem;
  }
  .bio ul {
    font-size: var(--tablet-font-size);
    padding: 2rem;
  }
  .bio a {
    font-size: var(--tablet-font-size);
  }
  .skills h2 {
    font-size: var(--tablet-font-size-h2);
  }
  .skills h3 {
    font-size: var(--tablet-font-size-h3);
  }
  .icon {
    width: 10rem;
    height: 10rem;
  }
  .icon:hover {
    width: 10.2rem;
    height: 10.2rem;
  }
  .projects h2 {
    font-size: var(--tablet-font-size-h2);
  }
  .projects h3 {
    font-size: var(--tablet-font-size-h3);
  }
  .project-container p {
    font-size: var(--tablet-font-size);
  }
  .contact h2 {
    font-size: var(--tablet-font-size-h2);
  }
  .contact-form-container label {
    font-size: var(--tablet-font-size-h3);
  }
  .submit-btn {
    font-size: var(--mobile-font-size-h3);
  }
  footer p {
    font-size: 13px;
  }
  footer a {
    font-size: 13px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    font-size: var(--desktop-font-size);
  }
  nav h1 {
    font-size: var(--desktop-font-size-h1);
  }
  nav a {
    font-size: var(--desktop-font-size);
  }
  nav a:hover {
    font-size: calc(var(--desktop-font-size) + 3px);
  }
  nav ul {
    width: 55%;
  }
  nav ul li {
    font-size: var(--desktop-font-size);
  }
  .hero {
    flex-direction: row;
  }
  .hero img {
    height: 18rem;
    width: 18rem;
  }
  .hero img:hover {
    width: 19rem;
    height: 19rem;
  }
  .hero h2 {
    font-size: var(--desktop-font-size-h2);
  }
  .bio {
    padding: 0 5rem;
    max-width: 40%;
  }
  .bio ul {
    font-size: var(--desktop-font-size);
    padding: 2rem;
  }
  .bio a {
    font-size: var(--desktop-font-size);
  }
  .skills h2 {
    font-size: var(--desktop-font-size-h2);
  }
  .skills h3 {
    font-size: var(--desktop-font-size-h3);
  }
  .icon {
    width: 12rem;
    height: 12rem;
  }
  .icon:hover {
    width: 12.2rem;
    height: 12.2rem;
  }
  .projects {
    padding: 0 30rem;
  }
  .projects h2 {
    font-size: var(--desktop-font-size-h2);
  }
  .projects h3 {
    font-size: var(--desktop-font-size-h3);
  }
  .project-pic {
    width: 20%;
  }
  .project-container p {
    font-size: var(--desktop-font-size);
  }
  .contact {
    padding: 1rem 30rem;
  }
  .contact h2 {
    font-size: var(--desktop-font-size-h2);
  }
  .contact-form-container label {
    font-size: var(--desktop-font-size-h3);
  }
  .submit-btn {
    font-size: var(--desktop-font-size-h3);
  }
  footer p {
    font-size: 15px;
  }
  footer a {
    font-size: 15px;
  }
  .socicon {
    width: 5rem;
    height: 5rem;
  }
  .up-arrow {
    width: 5rem;
    height: 5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
