/* Fonts  */
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMonoNL-Regular.ttf") format("truetype");
  font-weight: normal;
}
/*Variables*/
:root {
  --font-family: "JetBrains Mono", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --mobile-font-size: 12px;
  --mobile-font-size-h1: 28px;
  --mobile-font-size-h2: 23px;
  --mobile-font-size-h3: 18px;
  --tablet-font-size: 17px;
  --tablet-font-size-h1: 33px;
  --tablet-font-size-h2: 28px;
  --tablet-font-size-h3: 23px;
  --desktop-font-size: 20px;
  --desktop-font-size-h1: 36px;
  --desktop-font-size-h2: 31px;
  --desktop-font-size-h3: 26px;
  --bg-color: rgb(8, 0, 8);
  --primary-color: rgb(222, 71, 222);
  --secondary-color: rgb(125, 51, 214);
  --primary-shadow: rgb(200, 198, 178);
  --secondary-shadow: rgb(166, 147, 78);
  --footer-color: black;
  --bg-color-light: rgba(242, 219, 255, 0.85);
  --primary-color-light: rgb(94, 0, 98);
  --secondary-color-light: rgba(141, 81, 144, 0.7);
  --primary-shadow-light: rgba(250, 190, 7, 0.2);
  --secondary-shadow-light: rgba(212, 192, 80, 0.2);
  --footer-color-light: #b861ff;
  --cur-bg: var(--bg-color);
  --cur-pri-color: var(--primary-color);
  --cur-sec-color: var(--secondary-color);
  --cur-pri-shadow: var(--primary-shadow);
  --cur-sec-shadow: var(--secondary-shadow);
  --cur-footer: var(--footer-color);
  --bottom-margin: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

.light-mode {
  background-color: var(--bg-color-light);
  --cur-pri-color: var(--primary-color-light);
  --cur-sec-color: var(--secondary-color-light);
  --cur-pri-shadow: var(--primary-shadow-light);
  --cur-sec-shadow: var(--secondary-shadow-light);
  transition: var(--transition);
}

.light-mode nav {
  --cur-footer: var(--footer-color-light);
  transition: var(--transition);
}

.light-mode .hero .bio-text {
  --cur-pri-color: var(--primary-color-light);
  --cur-sec-color: var(--secondary-color-light);
  --cur-pri-shadow: var(--primary-shadow-light);
  --cur-sec-shadow: var(--secondary-shadow-light);
  transition: var(--transition);
}

.light-mode .hero a {
  transition: var(--transition);
}

.light-mode footer {
  --cur-footer: var(--footer-color-light);
  transition: var(--transition);
}

.light-mode footer a {
  color: var(--primary-color-light);
  transition: var(--transition);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes icon-anim {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.appear-anim {
  animation: appear 0.5s 1;
}

.icon-anim {
  animation: icon-anim 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s both;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  background-color: var(--cur-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  transition: var(--transition);
}

/* Nav */
ul {
  list-style-type: none;
}

a {
  font-size: var(--mobile-font-size);
  text-decoration: none;
  color: var(--cur-pri-color);
}

a:hover {
  color: var(--cur-sec-color);
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--cur-footer);
  margin-bottom: 1rem;
  transition: var(--transition);
}

nav h1 {
  color: var(--cur-pri-color);
  text-align: center;
  font-size: var(--mobile-font-size-h1);
  font-weight: var(--bolder-font);
}

nav a {
  color: var(--cur-pri-color);
  transition: var(--transition);
  white-space: nowrap;
}

nav a:hover {
  color: var(--cur-sec-color);
  border-bottom: 2px solid var(--cur-sec-color);
  font-size: calc(var(--mobile-font-size) + 3px);
}

nav a:active {
  color: var(--cur-pri-shadow);
  transition: 0s;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
}

nav ul li {
  font-weight: var(--bold-font);
  font-size: var(--mobile-font-size);
  line-break: strict;
}

/* Hero */
.hero {
  padding: 0 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero img {
  border-radius: 2rem;
  height: 10rem;
  width: 10rem;
  transition: var(--transition);
}

.hero img:hover {
  width: 11rem;
  height: 11rem;
  transition: var(--transition);
}

.bio-text {
  width: 20rem;
}

.bio h2 {
  margin-bottom: var(--bottom-margin);
  color: var(--cur-pri-color);
  text-align: center;
  font-size: var(--mobile-font-size-h2);
  font-weight: var(--bold-font);
}

.bio ul {
  list-style-type: disc;
  color: var(--cur-pri-color);
  text-align: left;
  background-color: var(--cur-pri-shadow);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  line-height: var(--line-height);
  font-weight: var(--bolder-font);
  font-size: var(--mobile-font-size);
}

.bio a {
  color: var(--cur-pri-color);
  font-weight: var(--bold-font);
  font-size: var(--mobile-font-size);
}

.bio a:hover {
  transition: var(--transition);
  color: var(--cur-sec-color);
  border-bottom: 2px solid var(--cur-sec-color);
}

.CV-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.CV-btn {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cur-pri-color);
  background-color: transparent;
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
  font-family: "JetBrains Mono", sans-serif;
  transition: var(--transition);
  border-radius: 10px;
  border: 2px solid var(--cur-sec-color);
  cursor: pointer;
}

.CV-btn:hover {
  background-color: var(--cur-sec-color);
  color: var(--cur-pri-color);
}

/* Top skills and icons*/
.skills {
  padding: 8rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--bottom-margin);
}

.skills h2 {
  font-size: var(--mobile-font-size-h2);
  font-weight: var(--bold-font);
  color: var(--cur-pri-color);
}

.skills h3 {
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
  color: var(--cur-pri-color);
}

.skill-header {
  margin-bottom: var(--bottom-margin);
}

.skill-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 0.3rem;
  margin: 0 0.3rem 0.3rem;
}

.icon {
  width: 80px;
  height: 80px;
  transition: var(--transition);
}

.icon:hover {
  width: 90px;
  height: 90px;
  transition: var(--transition);
}

.icon-card {
  background-color: var(--cur-pri-shadow);
  border-radius: 15px;
  box-shadow: 0 0 10px var(--cur-sec-shadow);
}

/* Scroll up arrow */
.scroll-up {
  display: flex;
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3.5rem;
  height: 3.5rem;
}

/* Projects */
.projects-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5rem auto var(--bottom-margin);
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.project-pic {
  max-height: 500px;
  max-width: 100%;
  align-items: center;
  margin: 0 auto var(--bottom-margin);
  border-radius: 1rem;
  border: 5px solid var(--cur-pri-color);
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: var(--bottom-margin);
  font-weight: var(--bold-font);
  font-size: var(--mobile-font-size-h2);
}

.projects h2 {
  color: var(--cur-pri-color);
  font-weight: var(--bold-font);
  font-size: var(--mobile-font-size-h2);
}

.projects h3 {
  color: var(--cur-pri-color);
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
}

.project-container {
  text-align: center;
  width: 100%;
}

.project-container p {
  text-align: left;
  color: black;
  font-weight: var(--normal-font);
  font-size: var(--mobile-font-size);
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  line-height: var(--line-height);
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: var(--cur-pri-shadow);
  max-width: 830px;
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--cur-pri-shadow);
  padding: 20px 15px 15px 15px;
  margin: 25px 0 25px;
}

/* Contact */
.contact {
  width: 100%;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  color: var(--cur-pri-color);
  font-size: var(--mobile-font-size-h2);
  font-weight: var(--bold-font);
}

.contact-form-container {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  border: transparent;
}

.contact-form-container label {
  line-height: 2.7rem;
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
  color: var(--cur-pri-color);
}

.form-control textarea {
  min-height: 3rem;
  font-weight: var(--normal-font);
  border: transparent;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: var(--mobile-font-size);
  background-color: var(--cur-pri-shadow);
  font-family: "JetBrains Mono", sans-serif;
  border: transparent;
}

.input-field::placeholder {
  color: var(--cur-pri-color);
  font-family: "JetBrains Mono", sans-serif;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: transparent;
  color: var(--cur-pri-color);
  font-size: var(--mobile-font-size-h3);
  font-weight: var(--bold-font);
  font-family: "JetBrains Mono", sans-serif;
  transition: var(--transition);
  border-radius: 10px;
  border: 2px solid var(--cur-sec-color);
}

.submit-btn:hover {
  background-color: var(--cur-sec-color);
  cursor: pointer;
}

/* Social icons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
  cursor: pointer;
}

.socicon {
  width: 3.5rem;
  height: 3.5rem;
}

/* Change theme */
.change-mode {
  display: flex;
  position: fixed;
  right: 1%;
  top: 15%;
  cursor: pointer;
}

.mode-switch {
  width: 3.5rem;
  height: 3.5rem;
}

/* Footer */
footer {
  background-color: var(--cur-footer);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  transition: var(--transition);
}

footer p {
  font-size: 11px;
  font-weight: var(--normal-font);
  color: var(--cur-pri-color);
}

footer a {
  font-size: 11px;
  color: var(--cur-pri-shadow);
  transition: var(--transition);
}

footer a:hover {
  color: var(--cur-sec-color);
  border-bottom: 2px solid var(--cur-sec-color);
}

/* MEDIA QUERIES AND BREAKPOINTS */
@media screen and (min-width: 800px) {
  a {
    font-size: var(--tablet-font-size);
  }
  nav h1 {
    font-size: var(--tablet-font-size-h1);
  }
  nav a {
    font-size: var(--tablet-font-size);
  }
  nav a:hover {
    font-size: calc(var(--tablet-font-size) + 3px);
  }
  nav ul li {
    font-size: var(--tablet-font-size);
  }
  .hero img {
    height: 15rem;
    width: 15rem;
  }
  .hero img:hover {
    width: 16rem;
    height: 16rem;
  }
  .hero h2 {
    font-size: var(--tablet-font-size-h2);
  }
  .hero {
    padding: 2rem 4rem;
    flex-direction: row;
  }
  .bio {
    padding: 0 5rem;
  }
  .bio ul {
    font-size: var(--tablet-font-size);
    padding: 2rem;
  }
  .bio a {
    font-size: var(--tablet-font-size);
  }
  .CV-btn {
    font-size: var(--tablet-font-size-h3);
  }
  .skills h2 {
    font-size: var(--tablet-font-size-h2);
  }
  .skills h3 {
    font-size: var(--tablet-font-size-h3);
  }
  .icon {
    width: 140px;
    height: 140px;
  }
  .icon:hover {
    width: 150px;
    height: 150px;
  }
  .projects {
    max-width: 80%;
  }
  .project-pic {
    max-width: 100%;
  }
  .projects h2 {
    font-size: var(--tablet-font-size-h2);
  }
  .project-container p {
    font-size: var(--tablet-font-size);
  }
  .projects h3 {
    font-size: var(--tablet-font-size-h3);
  }
  .contact h2 {
    font-size: var(--tablet-font-size-h2);
  }
  .contact-form-container .input-field {
    font-size: var(--mobile-font-size);
  }
  .contact-form-container label {
    font-size: var(--tablet-font-size-h3);
  }
  .submit-btn {
    font-size: var(--tablet-font-size-h3);
  }
  footer p {
    font-size: 13px;
  }
  footer a {
    font-size: 13px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    font-size: var(--desktop-font-size);
  }
  nav h1 {
    font-size: var(--desktop-font-size-h1);
  }
  nav a {
    font-size: var(--desktop-font-size);
  }
  nav a:hover {
    font-size: calc(var(--desktop-font-size) + 3px);
  }
  nav ul {
    width: 55%;
  }
  nav ul li {
    font-size: var(--desktop-font-size);
  }
  .hero {
    flex-direction: row;
  }
  .hero img {
    height: 18rem;
    width: 18rem;
  }
  .hero img:hover {
    width: 19rem;
    height: 19rem;
  }
  .hero h2 {
    font-size: var(--desktop-font-size-h2);
  }
  .bio {
    padding: 0 5rem;
  }
  .bio-text {
    width: 40rem;
  }
  .bio ul {
    font-size: var(--desktop-font-size);
    padding: 2rem;
  }
  .bio a {
    font-size: var(--desktop-font-size);
  }
  .CV-btn {
    font-size: var(--desktop-font-size-h3);
  }
  .skills h2 {
    font-size: var(--desktop-font-size-h2);
  }
  .skills h3 {
    font-size: var(--desktop-font-size-h3);
  }
  .projects {
    max-width: 70%;
  }
  .project-pic {
    max-width: 100%;
  }
  .projects h2 {
    font-size: var(--desktop-font-size-h2);
  }
  .projects h3 {
    font-size: var(--desktop-font-size-h3);
  }
  .project-card {
    padding: 20px 30px 15px;
  }
  .contact-form-container {
    width: 50%;
  }
  .contact h2 {
    font-size: var(--desktop-font-size-h2);
  }
  .contact-form-container .input-field {
    font-size: var(--tablet-font-size);
  }
  .contact-form-container label {
    font-size: var(--desktop-font-size-h3);
  }
  .submit-btn {
    font-size: var(--desktop-font-size-h3);
  }
  footer p {
    font-size: 15px;
  }
  footer a {
    font-size: 15px;
  }
  .mode-switch {
    width: 5rem;
    height: 5rem;
  }
  .socicon {
    width: 5rem;
    height: 5rem;
  }
  .up-arrow {
    width: 5rem;
    height: 5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
